---
layout: default 
title: "Divya Akula - M365 , Powerplatform, ..."
show_updated: true
sitemap: true
---
<div class="home">
<div class="site-header-container {% if site.cover %}has-cover{% endif %}" {% if site.cover %}style="background-image: url({{ site.cover | prepend: site.baseurl }});"{% endif %}>
  <div class="scrim {% if site.cover %}has-cover{% endif %}">
    <header class="site-header">
			<div width="60%" >
			{% if site.sticker %}<img src="{{prepend: site.baseurl}}/assets/DivyaAkula_Ahmedabad.jpeg" srcset="" alt="sticker" class="" width="60%" height="600px" border-radius="50px"/>{% endif %}
		</div>
			<div>
      <h1 class="title">{{ site.title }}</h1>
      {% if site.subtitle %}<p class="subtitle">{{ site.subtitle }}</p>{% endif %}
		</div>
    </header>
  </div>
</div>
		{% include trust_strip.html %}

<div class="wrapper">

{% assign featured = site.posts | where: "featured", true | first %}
{% unless featured %}{% assign featured = site.posts | first %}{% endunless %}
{% if featured %}
<div class="featured-article">
  <a href="{{ featured.url | prepend: site.baseurl }}" class="featured-article__link">
    <div class="featured-article__image">
      <img src="{{ featured.thumbnail | prepend: site.baseurl }}" alt="{{ featured.title | strip_html }}" loading="lazy" />
      <span class="featured-article__badge">Featured</span>
    </div>
    <div class="featured-article__body">
      <p class="featured-article__label"><i class="fa fa-star" aria-hidden="true"></i> Featured Insight</p>
      <h2 class="featured-article__title">{{ featured.title }}</h2>
      <p class="featured-article__excerpt">{{ featured.content | strip_html | truncatewords: 30 }}</p>
      <span class="featured-article__cta">Read article <i class="fa fa-arrow-right" aria-hidden="true"></i></span>
    </div>
  </a>
</div>
{% endif %}

<div class="home-layout">
<!-- This loops through the paginated posts -->
<ul class="post-list" data-pagefind-ignore>
	{% for post in paginator.posts %}
	{% assign words = post.content | number_of_words %}
	<li class="post-card" data-aos="fade-in">
		<a class="post-card__link" href="{{ post.url | prepend: site.baseurl }}">
			<div class="post-card__image">
				<img src="{{ post.thumbnail | prepend: site.baseurl }}" alt="{{ post.title | strip_html }}" loading="lazy" />
			</div>
			<div class="post-card__body">
				<h2 class="post-card__title">{{ post.title }}</h2>
				<div class="post-card__meta">
					<span><i class="fa fa-clock-o" aria-hidden="true"></i> {% if words < 360 %}1 min{% else %}{{ words | divided_by:180 }} min{% endif %} read</span>
					<span>{{ post.date | date: "%b %-d, %Y" }}</span>
				</div>
				{% if post.categories.size > 0 %}
				<div class="post-card__categories">
					{% for cat in post.categories %}
					<a href="{{ site.baseurl }}/category/{{ cat }}" class="post-card__cat-tag">{{ site.data.category_labels[cat] | default: cat }}</a>
					{% endfor %}
				</div>
				{% endif %}
			</div>
		</a>
	</li>
	{% endfor %}
</ul>

	<div class="category-wrapper">
	{% include social_feed.html %}
	{% include upcoming_events.html %}
	<div class="widget">
		<h3 class="widget__title"><i class="fa fa-tag" aria-hidden="true"></i> Topics</h3>
		<div class="category-chips">
			{% for category in site.categories %}
			{% capture cat %}{{ category | first }}{% endcapture %}
			{% capture label %}{{ site.data.category_labels[cat] | default: cat }}{% endcapture %}
			<a href="{{ site.baseurl }}/category/{{ cat }}" class="category-chip">
				{{ label }} <span class="category-chip__count">{{ category[1].size }}</span>
			</a>
			{% endfor %}
		</div>
	</div>
	</div>
</div><!-- /.home-layout -->

	<nav class="pagination" role="navigation">
		<p>
			{% if paginator.previous_page %}
				<a class="newer-posts" href="{{ site.baseurl }}{{ paginator.previous_page_path }}">
					<span class="fa-stack fa-lg">
						<i class="fa fa-square fa-stack-2x"></i>
						<i class="fa fa-angle-double-left fa-stack-1x fa-inverse"></i>
					</span>
				</a>
			{% else %}
			<span class="fa-stack fa-lg">
				<i class="fa fa-square fa-stack-2x"></i>
				<i class="fa fa-angle-double-left fa-stack-1x fa-inverse"></i>
			</span>
			{% endif %}
			<span class="page-number">Page {{ paginator.page }} of {{ paginator.total_pages }}</span>
			{% if paginator.next_page %}
			<a class="newer-posts" href="{{ site.baseurl }}{{ paginator.next_page_path }}">
				<span class="fa-stack fa-lg">
					<i class="fa fa-square fa-stack-2x"></i>
					<i class="fa fa-angle-double-right fa-stack-1x fa-inverse"></i>
				</span>
			</a>
			{% else %}
			<span class="fa-stack fa-lg">
				<i class="fa fa-square fa-stack-2x"></i>
				<i class="fa fa-angle-double-right fa-stack-1x fa-inverse"></i>
			</span>
			{% endif %}
		</p>
	</nav>


</div>
</div>
