<div class="widget widget--social-feed">
  <h3 class="widget__title">
    <i class="fa fa-share-alt" aria-hidden="true"></i> Social Highlights
  </h3>

  <ul class="social-compact-list">
  {% for post in site.data.social_posts limit:3 %}
  <li class="social-compact-item">
    <a href="{{ post.url }}" target="_blank" rel="noopener noreferrer" class="social-compact-item__link">
      <span class="social-compact-item__icon social-compact-item__icon--{{ post.platform }}">
        <i class="fa fa-{{ post.platform }}" aria-hidden="true"></i>
      </span>
      <span class="social-compact-item__text">{{ post.content | truncatewords: 10 }}</span>
    </a>
  </li>
  {% endfor %}
  </ul>
</div>
